<script type='text/javascript'>//<![CDATA[ 
    jQuery(function() {
      jQuery("[name=toggler]").click(function(){
              jQuery('.toHide').hide();
              jQuery("#blk-"+jQuery(this).val()).show('slow');
      });
    });
</script>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
        <div class="widget stacked ">
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>New Block</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div style="margin-bottom:10px" class="row-fluid">
              <!-- <div class="span12">
                <a href="<%= admin_blocks_path%>" class="btn">Back</a>          
              </div> -->
            </div>
            <%= form_for  @admin_block, :html => {:id => "block",:class => "form-horizontal"}  do |f| %>
              <% if @admin_block.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@admin_block.errors.count, "error") %> prohibited this from being saved:</h2>
                  <ul>
                    <% @admin_block.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <fieldset>
                <div class="control-group">
                  <label for="name" class="control-label">Block Name</label>
                  <div class="controls">
                    <%= f.text_field :block_name , :class => "input-large"%>
                  </div>
                </div>
                <div class="control-group">
                  <label for="name" class="control-label">Code</label>
                  <div class="controls">
                    <%= f.text_field :code , :maxlength => 3 , :size => 10 , :class => "input-large"%>
                  </div>
                </div>
                <div class="control-group">
                  <label for="name" class="control-label">Select District</label>
                  <div class="controls">
                    <%= f.collection_select :district_id , Admin::District.all, :id, :district_name,:prompt => "Select District"%>
                  </div>
                </div>
                <div class="control-group">
                  <label for="name" class="control-label">Is Laboratory Present ?</label>
                  <div class="controls">
                    Yes <input id="admin_block_laboratory_present_yes" type="radio" value="Yes" name="toggler">
                    <div>
                      No <input id="admin_block_laboratory_present_no" type="radio" value="No" name="toggler" checked="checked">
                    </div>
                  </div>
                </div>
                
                <div id="blk-Yes" class="toHide" style="display:none">
                  <div class="control-group">
                    <label for="name" class="control-label">Laboratory Name</label>
                    <div class="controls">
                      <%= f.text_field :lab_name , :class => "input-large"%>
                      
                    </div>
                  </div>
                </div>
                <% if params[:toggler] == "No"%>
                  <%= f.hidden_field :laboratory_present, :value => "NO"%>
                <%else%>
                  <%= f.hidden_field :laboratory_present, :value => "YES"%>
                <%end%>
                <div class="control-group">
                  <div class="controls">
                    <%= f.submit "Submit", :class => "btn"%>
                  </div>
                </div>
              </fieldset>
            <%end%>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->


