<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
        <div class="widget stacked ">
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>Surveyor Report</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div class="row-fluid">
              <div class="span12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>From Date </td>
                    <td><span class="controls">
                      <input type="text" id="name2" name="name2" class="input-large">
                    </span></td>
                    <td>To Date </td>
                    <td><span class="controls">
                      <input type="text" id="name22" name="name22" class="input-large">
                       </span>
                    </td>
                    <td>Water Source </td>
                    <td><span class="controls">
                      <select name="select2">
                        <option>All</option>
                      </select>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>Types</td>
                    <td><span class="controls">
                      <select>
                        <option>All</option>
                      </select>
                      </span>
                    </td>
                    <td>Habitation</td>
                    <td><span class="controls">
                      <select name="select">
                        <option>Bedal</option>
                            </select>
                      </span>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <button class="btn btn btn-primary" type="reset">Show</button>
                      <button class="btn btn btn-primary" type="reset">Clear</button>
                      <button class="btn btn btn-primary" type="reset">Close</button>
                    </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
            </br>
            <section id="tables">
              <div class="row-fluid">
                <div class="span6">
                  <h3>SURVEYOR REPORT</h3>
                </div>
                <div class="span6" style="text-align:right">
                  <a href="#" class="btn btn-secondary"><img src="/assets/excel.png" alt=""> Excel</a> <a href="#" class="btn btn-secondary"><i class="icon"><img src="/assets/pdf.png" alt=""></i> PDF</a>
                </div>
              </div>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Sr. No. </th>
                    <th>Source name</th>
                    <th>Source code</th>
                    <th>Source location</th>
                    <th>Habitation</th>
                    <th>Village</th>
                    <th>Grampanchayat</th>
                    <th>Water source type</th>
                    <th>Date time</th>
                    <th>Surveyor name</th>
                    <th>Source Image</th>
                    <th>Source Location Image</th>
                  </tr>
                </thead>
                <% @survey_reports.each_with_index.each do |survey_report,i |  %> 
                  <tbody>
                    <tr>
                      <td><%= i+1 %></td>
                      <td><%= survey_report.source_name rescue nil%></td>
                      <td><%= survey_report.source_code rescue nil%></td>
                      <td><%= survey_report.source_location rescue nil%></td>
                      <td><%= survey_report.habitation rescue nil%></td>
                      <td><%= survey_report.village rescue nil%></td>
                      <td><%= survey_report.grampanchayat rescue nil%></td>
                      <td><%= survey_report.water_source_type rescue nil%></td>
                      <td><%= survey_report.date_time rescue nil%></td>
                      <td><%= survey_report.surveyor_name rescue nil%></td>
                      <td><%= image_tag survey_report.photo.url, :height=> 100, :width=>100 rescue nil%></td>
                      <td><%= image_tag survey_report.photo1.url, :height=> 100, :width=>100 rescue nil%></td>
                    </tr>
                  </tbody>
                <% end %> 
              </table>
              <!-- <section id="paginations">
                <div class="pagination">
                  <ul>
                    <li><a href="javascript:;">Prev</a></li>
                    <li class="active">
                      <a href="javascript:;">1</a>
                    </li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">Next</a></li>
                  </ul>
                </div>
              </section> -->
            </section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->
    






