<%= stylesheet_link_tag "facebox.css" %>
<%= javascript_include_tag "facebox.js" %>
<script>
(function() {

  jQuery(function() {
  jQuery('#survey_start_date').datepicker( 
    { altField  : '#survey_start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'yy-mm-dd',
      altFormat : 'yy-mm-dd' } );
    });

    jQuery(function() {
  jQuery('#survey_end_date').datepicker( 
    { altField  : '#survey_end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'yy-mm-dd',
      altFormat : 'yy-mm-dd' } );
    });

}).call(this);

</script>


<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
        <div class="widget stacked ">
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>Surveyor Report</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div class="row-fluid">
              <div class="span12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <%= form_for :survey, :url=> survey_reports_path, :method => :get do |f| %>
                  <tr>
                    <td>From Date </td>
                    <td><span class="controls">
                      <%= f.text_field :start_date %>
                    </span></td>
                    <td>To Date </td>
                    <td><span class="controls">
                      <%= f.text_field :end_date %>
                       </span>
                    </td>
                    <td>Water Source </td>
                    <td><span class="controls">
                      <%= f.select :source_name_eq, SurveyReport.find(:all,:conditions=>"actions != 1", :order=>"id desc"), {:prompt => "Select Source Name"}%>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>Types</td>
                    <td><span class="controls">
                      <%= f.select :water_source_type_eq, SurveyReport.find(:all,:conditions=>"actions != 1", :order=>"id desc"), {:prompt => "Select Source Type"} %>
                      </span>
                    </td>
                    <td>Habitation</td>
                    <td><span class="controls">
                      <%= f.select :habitation_eq, SurveyReport.find(:all,:conditions=>"actions != 1", :order=>"id desc"), {:prompt => "Select Habitation"}%>
                      </span>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <%= button_tag  :submit , name: "subaction",value: "update", :class => "btn btn btn-primary" %>
                      <!-- <button class="btn btn btn-primary" type="reset">Show</button> -->
                      <!-- <button class="btn btn btn-primary" type="reset">Clear</button> -->
                      
                    </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                 <% end %>
                </table>
              </div>
            </div>
            </br>
            <section id="tables">
              <div class="row-fluid">
                <div class="span6">
                  <h3>SURVEYOR REPORT</h3>
                </div>
                <div class="span6" style="text-align:right">
                  <%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + " Excel", survey_reports_path(params.merge(format: "xls")), :method=> :get, :class=>"btn btn-secondary" %>
                  <%= link_to image_tag('/assets/pdf.png', :border=>"0", :align=>"absmiddle") + " PDF", survey_reports_path(params.merge(format: "pdf")), :method=> :get, :class=>"btn btn-secondary" %>
                   
                </div>
              </div>
              
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Sr. No. </th>
                    <th>Source name</th>
                    <th>Source code</th>
                    <th>Source location</th>
                    <th>Water source type</th>
                    <th>Date time</th>
                    <th>Surveyor name</th>
                    <th>Source Image</th>
                    <th>Source Location Image</th>
                    <th style="width:20%">Action</th>
                  </tr>
                </thead>
                 <tbody>
                <% @survey_reports.each.with_index(1) do |survey_report,index |  %> 
                 
                    <tr id="<%= dom_id(survey_report) %>">
                      <td><%= index%></td>
                      <td><%= survey_report.source_name rescue nil%></td>
                      <td><%= survey_report.water_source_code rescue nil%></td>
                      <td><%= survey_report.source_location rescue nil%></td>
                      <td><%= survey_report.water_source_type rescue nil%></td>
                      <td><%= survey_report.created_at.strftime("%d-%m-%Y %I:%M %p") rescue nil%></td>
                      <td><%= survey_report.surveyor_name rescue nil%></td>
                      <td><%= image_tag survey_report.image.url, :height=> 100, :width=>100 rescue nil%></td>
                      <td><%= image_tag survey_report.image1.url, :height=> 100, :width=>100 rescue nil%></td>
                      <td><%= link_to "View", survey_report_path(survey_report), :class=>"btn" %> | 
                        <div id="action<%= survey_report.id %>">
                        <% if survey_report.actions == 0 %>
                          <%= link_to "Accept", accept_survey_report_path(survey_report), remote: true, :class=>"btn" %>
                          <%= link_to "Reject", reject_survey_report_path(survey_report), remote: true, :class=>"btn" %>
                        <% end %>
                        </div>
                      </td>
                    </tr>
                <% end %> 
                </tbody>
              </table>
              <section id="paginations">
                <div class="digg_pagination">
                  <%= will_paginate @survey_reports rescue nil%>
                </div>
              </section>
            </section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->
    






