<script>
jQuery(document).ready(function() {
	jQuery("#survey_report").validate({
		errorElement:'div',
		rules: {
			"survey_report[reason_for_rejecting]" : { required: true }
			},
		messages: {
			  "survey_report[reason_for_rejecting]":{ required:  "Please enter reason" }
			},
			submitHandler: function(form) {
          jQuery.ajax({
              url: "<%= reason_for_reject_survey_report_path(@survey_report.id) %>",
              type: "POST",
              data: jQuery(form).serialize(),
              success: function(response) {
                           jQuery('#action<%= @survey_report.id %>')
                             .html("Rejected")
                           	.hide()
                           	.fadeIn()
                           jQuery(document).trigger('close.facebox');
                       }            
               });
          
       }
       
		});
 });
</script>

<h4>Reason for rejecting</h4>
          <!-- /widget-header -->
          <div class="widget-content">
            <div class="row-fluid" style="margin-bottom:10px">
              <!-- <div class="span12">
                <a href="/mobile_users" class="btn">Back</a>          
              </div> -->
            </div>
           
            <%= form_for :survey_report, :url => reason_for_reject_survey_report_path(@survey_report.id), :html=>{:id=>"survey_report"} do |f| %>
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="name">Reason for rejecting sample</label>
                  <div class="controls">
                    <%= f.text_area :reason_for_rejecting, :rows =>"12",:style => "width:560px ; overflow-y: scroll; height: 200px; ",:maxlength => 1000 %>
                    <%= f.hidden_field :actions, :value=>2 %>
                  </div>
                </div>
                
                
                <div class="control-group">
                  <div class="controls">
                    <%= f.submit "Save", :class=>"btn" %>
                  </div>
                </div>
              </fieldset>
			      <% end %>
			</div> <!-- /widget-content --> 