<script>
(function() {

  jQuery(function() {
  jQuery('#invoice_invoice_date').datepicker( 
    { altField  : '#invoice_invoice_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'd-m-yy',
      altFormat : 'd-m-yy' } );
    });


}).call(this);

</script>

<script>
jQuery(document).ready(function() {
	jQuery("#invoice").validate({
		errorElement:'div',
		rules: {
		  "invoice[district_name]" : { required: true },
		  "invoice[block_name]" : { required: true },
		  "invoice[invoice_date]" : { required: true },
		  "invoice[no_of_sample]" : { required: true, number: true },
			"invoice[amount]" : { required: true, number: true },
			"invoice[invoice_no]" : { required: true },
			"invoice[remark]" : { required: true }
			},
		messages: {
		    "invoice[district_name]" : { required: "Please enter district name" },
		    "invoice[block_name]" : { required: "Please enter block name" },
		    "invoice[invoice_date]" : { required: "Please enter date" },
		    "invoice[no_of_sample]" : { required: "Please enter number of sample" },
			  "invoice[amount]":{ required:  "Please enter amount", number: "Please enter valid number" },
			  "invoice[invoice_no]" : { required: "Please enter invoice number" },
			  "invoice[remark]" : { required: "Please enter remark" }
			}
       
		});
 });
</script>

<script>
(function() {

  jQuery(function() {
  jQuery('#start_date').datepicker( 
    { altField  : '#start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'yy-mm-dd',
      altFormat : 'yy-mm-dd' } );
    });


}).call(this);

</script>

<script>
(function() {

  jQuery(function() {
  jQuery('#end_date').datepicker( 
    { altField  : '#end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'yy-mm-dd',
      altFormat : 'yy-mm-dd' } );
    });


}).call(this);

</script>



<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
        <div class="widget stacked ">
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>Generate Invoice</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div style="margin-bottom:10px" class="row-fluid">
              <div class="span6">
                <%= form_for  @invoice, :html => {:id => "invoice",:class => "form-horizontal"} , :url => invoice_path(@invoice, :a => params[:survey_invoices]) do |f| %>
                <% if @invoice.errors.any? %>
                  <div id="error_explanation">
                    <ul>
                      <% @invoice.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <fieldset>
                  <%#raise @invoice.inspect%>
                  <div class="control-group">
                    <label for="name" class="control-label">District Name</label>
                    <div class="controls">
                      <%= f.text_field :district_name, :value=>current_user.district_name , :class => "input-large", :readonly=>true%>
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="name" class="control-label">Block Name</label>
                    <div class="controls">
                      <%= f.text_field :block_name, :value=>current_user.block_name , :class => "input-large", :readonly=>true %>
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="name" class="control-label">Invoice Date</label>
                    <div class="controls">
                      <%= f.text_field :invoice_date , :class => "input-large"%>
                    </div>
                  </div>
                  
                  <div class="control-group">
                    <label for="name" class="control-label">Number of Sample</label>
                    <% if params[:subaction] == "edit" %>
                      <%#raise params[:a].inspect%>
                      <div class="controls">
                        <%= f.text_field :no_of_sample , :value => ((@invoice.no_of_sample).to_i + (params[:count]).to_i - (params[:d]).to_i).round ,:class => "input-large", :readonly => true%>
                      </div>
                    <%else%>
                      <div class="controls">
                        <%= f.text_field :no_of_sample,:class => "input-large", :readonly => true%>
                      </div>
                    <%end%>
                  </div>
                  
                  <div class="control-group">
                    <label for="name" class="control-label">Amount</label>
                    <div class="controls">
                      <%= f.text_field :amount , :class => "input-large"%>
                    </div>
                  </div>
                  
                  <div class="control-group">
                    <label for="name" class="control-label">Invoice Number</label>
                    <div class="controls">
                      <%= f.text_field :invoice_no , :class => "input-large"%>
                    </div>
                  </div>
                   
                  <div class="control-group">
                    <label for="name" class="control-label">Remark</label>
                    <div class="controls">
                      <%= f.text_area :remark, :cols=>2, :rows=>2, :class => "input-large"%>
                    </div>
                  </div>
                  <%= f.hidden_field :user_id, :value => current_user.id%>

                  <div class="control-group">
                    <div class="controls">
                      <%= f.submit "Submit", :class => "btn" %>
                    </div>
                  </div>
                </fieldset>
               <%end%>
              </div>
              <div class="span6">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <%= form_tag edit_invoice_path ,:method => :get do %>
                    <tr>
                      <td style="width: 68px;">From Date </td>
                      <td style="width: 180px;"><span class="controls" >
                        <%= text_field_tag :start_date,Date.today,:style=>"width: 180px;" %>
                      </span></td>
                      <td style="width: 51px;">To Date </td>
                      <td style="width: 180px;"><span class="controls" style="width: 180px;">
                        <%= text_field_tag :end_date,Date.today, :style=>"width: 180px;" %>
                         </span>
                      </td>
                      
                    </tr>
                    
                    <tr>
                      <td>&nbsp;</td>
                      <td>
                        <%= button_tag  :submit , name: "subaction",value: "update", :class => "btn btn btn-primary"%>
                        <!-- <button class="btn btn btn-primary" type="reset">Show</button> -->
                        <%= link_to "Clear", edit_invoice_path, :class=>"btn btn btn-primary"%>
                        
                      </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                   <% end %>
                  </table>
                <%#raise params[:id].inspect%>
                <%# if  params[:subaction] == "update"%>
               
                  <%= form_tag sample_code_count_invoices_path(:id => params[:id]) , method: :post do %>
                    <% @survey_reportss.each do |survey|%>
                      <%= hidden_field_tag "surveyidss[]",survey.id %>

                      <%= check_box_tag "surveyids[]",survey.id, true %><%= survey.water_source_code %><br/>

                  <%end%>
                    
                    <% if  params[:subaction] == "update"%>
                      <% @survey_reports.each do |survey|%>
                        <%= check_box_tag "survey_ids[]",survey.id rescue nil%><%= survey.water_source_code rescue nil%><br/>
                      <%end%>
                    <%else%>

                    <%end%>
                    <%= button_tag  :submit , name: "subaction",value: "edit",:class => "btn btn btn-primary" %>
                  <%end%>
                <%#else%>

                <%#end%>
              
              </div>
            </div>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->


