<div class="page-header-custom">
            <h3 align = "center">
                Outstanding Payments</h3>
            <!--subnav-->
          
</div>



<table cellpadding="1" cellspacing="1" border="1" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Sr. No. </th>
                    <th>Invoice Number</th>
                    <th>District Name</th>
                    <th>Block Name</th>
                    <th>Invoice Date</th>
                    <th>Number of Sample</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                 <tbody>
                <% @invoices.each.with_index(1) do |invoice,index |  %> 
                 
                    <tr id="<%= dom_id(invoice) %>">
                      <td><%= index%></td>
                      <td><%= invoice.invoice_no rescue nil%></td>
                      <td><%= invoice.district_name rescue nil%></td>
                      <td><%= invoice.block_name rescue nil%></td>
                      <td><%= invoice.invoice_date.strftime("%d-%m-%Y") rescue nil%></td>
                      <td><%= invoice.no_of_sample rescue nil%></td>
                      <td><%= invoice.amount rescue nil%></td>
                    </tr>
                <% end %> 
                </tbody>