<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
        <div class="widget stacked ">
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>View Invoice</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div style="margin-bottom:10px" class="row-fluid">
              <div class="span6">
                <section id="tables">
                  <div style="height: 391px;">
                  <table class="table table-bordered table-striped" style="height :387px;">
                       
                    <tbody>
                      <tr>
                        <td>District name</td>
                        <td><%= @invoice.district_name rescue nil%></td>
                      </tr>
                      <tr>
                        <td>Block Name</td>
                        <td><%= @invoice.block_name rescue nil %></td>
                      </tr>
                      <tr>
                        <td>Invoice Date</td>
                        <td><%= @invoice.invoice_date.strftime("%d-%m-%y") rescue nil%></td>
                      </tr>
                      <tr>
                        <td>No of Sample</td>
                        <td><%= @invoice.no_of_sample rescue nil%></td>
                      </tr>
                      <tr>
                        <td>Amount</td>
                        <td><%= @invoice.amount rescue nil%></td>
                      </tr>
                      <tr>
                        <td>Invoice Number</td>
                        <td><%= @invoice.invoice_no  rescue nil%></td>
                      </tr>
                      <tr>
                        <td>Remarks</td>
                        <td><%= @invoice.remark rescue nil%></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </section>
              </div>
              <div class="span6">
                <section id="tables">

                  <div style="overflow-y: scroll; height: 391px;">
                  <table class="table table-bordered table-striped">
                    <tr>
                      <th>Sr. No. </th>
                      <th> Sample Code </th>
                    </tr>
                    <% @survey_reports.each.with_index(1) do |survey, index|%>
                      <tr id="<%= dom_id(survey) %>">
                        <td><%= index %></td>
                        <td><%= survey.water_source_code rescue nil%></td>
                      </tr>
                    <%end%>
                  </table>
                </div>
                </section>
              </div>
            </div>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->


            