<h1>Admin Dashboard </h1>


<%= link_to "All Users", admin_users_path%><br/>
<%= link_to "Zones", admin_zones_path%><br/>
<%= link_to "Districts", admin_districts_path%><br/>
<%= link_to "Blocks", admin_blocks_path%><br/>
<%= link_to "Grampanchyats", admin_grampanchyats_path%><br/>
<%= link_to "Villages", admin_villages_path%><br/>
<%= link_to "Habitations", admin_habitations_path%><br/>
<%= link_to "Add Water Source", admin_sources_path%>