<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
        <div class="widget stacked ">
            
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>Edit User</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div style="margin-bottom:10px" class="row-fluid">
              <!-- <div class="span12">
                <a href="<%= users_path%>" class="btn">Back</a>          
              </div> -->
            </div>
            <%= form_for @user, :html => {:multipart => true,:class => "form-horizontal"} do |f| %>
              <% for message in @user.errors.full_messages %>
                <%= message %>
              <% end %>
              <fieldset>
                <div class="control-group">
                  <label for="name" class="control-label">User Name</label>
                  <div class="controls">
                    <%= f.text_field :username ,:placeholder=>"User Name" , :class => "input-large"%>
                  </div>
                </div>
                <div class="control-group">
                  <label for="name" class="control-label">Full Name</label>
                  <div class="controls">
                    <%= f.text_field :user_fullname ,:placeholder=>"Full Name" , :class => "input-large"%>
                  </div>
                </div>
                <div class="control-group">
                  <label for="name" class="control-label">Email</label>
                  <div class="controls">
                    <%= f.email_field :email ,:placeholder=>"Email" , :class => "input-large"%>
                  </div>
                </div>
                <div class="control-group">
                  <label for="name" class="control-label">Password</label>
                  <div class="controls">
                    <%= f.password_field :password ,:placeholder=>"Password" , :class => "input-large"%>
                  </div>
                </div>
                <div class="control-group">
                  <label for="name" class="control-label">Confirm Password</label>
                  <div class="controls">
                    <%= f.password_field :password_confirmation ,:placeholder=>"Confirm Password" , :class => "input-large"%>
                  </div>
                </div>
                <%= hidden_field_tag "user[role_ids][]", @role.id %>
                <%= f.hidden_field :block_manager_id , :value => current_user.id%>
              
                <div class="control-group">
                  <label for="name" class="control-label">Mobile Number</label>
                  <div class="controls">
                    <%= f.text_field :mobile_no ,:placeholder=>"Mobile Number" , :class => "input-large"%>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <%= f.submit "Update", :class => "btn"%>
                  </div>
                </div>
              </fieldset>
            <%end%>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->

