<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
        <div class="widget stacked ">
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>All Mobile Surveyor</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div class="row-fluid">
              <div class="span12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
    
                  <tr>
                    <td>&nbsp;</td>
                    <% if current_user.has_role? :block %>
                    <td>
                      <%#= link_to "Back", root_path, :class => "btn"%>
                      <%= link_to "New User", new_user_path, :class=>"btn", :type=>"reset"%>
                    </td>
                    <%end%>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
            </br>
            <section id="tables">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Sr. No. </th>
                    <th>User Name</th>
                    <th>User Role</th>
                    <% if current_user.has_role? :block %>
                    <th>Edit User</th>
                    <th>Transfer User</th>
                    <!-- <th>Delete User</th> -->
                    <% end %>
                  </tr>
                </thead>
                    <% @users.each.with_index(1).each do |user,index |  %>
                      <%if current_user.id == user.block_manager_id%> 
                        <tbody>
                          <tr id="<%= dom_id(user)%>">
                            <td><%= index %></td>
                            <td><%= user.username rescue nil%></td>
                            <td><%= user.roles.first.display_name rescue nil%></td>
                            <% if current_user.has_role? :block %>
                              <td><%= link_to "Edit", edit_user_path(user) , :class => "btn"%></td>
                              <%if user.is_transfer == true %>
                                <td><%= link_to "Accept Mobile Surveyor",accept_user_user_path(user),:class => "btn" %><%= link_to "Reject Mobile Surveyor",reject_user_user_path(user),:class => "btn" %> </td>
                              <%else%>
                                <td><%= link_to "Transfer user", edit_manager_user_path(user),:class => "btn" %></td>
                              <%end%> 
                              <!-- <td><%= link_to "Delete", user_path(user), method: :delete, data: { confirm: 'Are you sure?' } ,:class => "btn"%></td> -->
                            <% end %>
                          </tr>
                        </tbody>
                      <%end%>
                    <% end %> 
              </table>
                 
              <!-- <section id="paginations">
                
                
                <div class="pagination">
                  <ul>
                    <li><a href="javascript:;">Prev</a></li>
                    <li class="active">
                      <a href="javascript:;">1</a>
                    </li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">Next</a></li>
                  </ul>
                </div>
              </section> -->
            </section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->
    

