<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
				  <% if current_user.has_role? :district %>
				        <li class="dropdown">
    						<a href="<%= district_laboratory_reports_path %>">

    							<span>Laboratory Report</span>
    						</a>	    				
    					</li>

    					<li class="dropdown">
    						<a href="<%= district_invoice_invoices_path %>">

    							<span>Invoices</span>
    						</a>	    				
    					</li>
    					
				    <% elsif current_user.has_role? :block %>
					<li class="dropdown">
						<a href="<%= users_path%>">
							
							<span>All Users</span>
						</a>	    				
					</li>
					

					<li class="dropdown">					
						<a href="<%= survey_reports_path%>">
							
							<span>Surveyor Report</span>
						</a>	
					</li>
					
					<li class="dropdown">
					  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> Laboratory Report<b class="caret"></b></a>
					
					  <ul class="dropdown-menu">
					    <li class="dropdown">	<a href="<%= laboratory_reports_path %>" ><span>Testing Report</span></a></li>
              <li class="divider"></li>
              <li class="dropdown">	<a href="<%= accepted_sample_laboratory_reports_path%>" ><span>Accept Report</span></a></li>
              <li class="divider"></li>
              <li class="dropdown">	<a href="<%= rejected_sample_laboratory_reports_path%>" ><span>Reject Report</span></a></li>
				 		</ul>
					</li>
					
					<li class="dropdown">
					  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> Invoice<b class="caret"></b></a>
					
					  <ul class="dropdown-menu">
					    <li class="dropdown">	<a href="<%= invoices_path %>" ><span>Generate Invoice</span></a></li>
              <li class="divider"></li>
              <li class="dropdown">	<a href="<%= payment_invoices_path %>" ><span>Payment Received</span></a></li>
              <li class="divider"></li>
              <li class="dropdown">	<a href="<%= outstanding_invoices_path %>" ><span>Outstanding Payment</span></a></li>
				 		</ul>
					</li>
              
					<%end%>
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
    