<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<% if current_user.has_role? :admin %>
				<ul class="mainnav">
				
					<li class="dropdown">
						<a href="<%= admin_users_path%>">
							
							<span>All Users</span>
						</a>	    				
					</li>
					
					<li class="dropdown">					
						<a href="<%= admin_zones_path%>" >
							
							<span>Zones</span>
							
						</a>	    
					
						 				
					</li>
					
					<li class="dropdown">					
						<a href="<%= admin_districts_path%>" >
							
							<span>Districts</span>
							
						</a>	    
					
						 				
					</li>
					
					<li class="dropdown">					
						<a href="<%= admin_blocks_path%>">
							
							<span>Blocks</span>
						</a>	
					</li>
					
					
					<li class="dropdown">					
						<a href="<%= admin_grampanchyats_path%>">
							
							<span>Grampanchyats</span>
						</a>	
					</li>
					
					<li class="dropdown">					
						<a href="<%= admin_villages_path%>">
							
							<span>Villages</span>
						</a>	
					</li>
					
					
						<li class="dropdown">					
						<a href="<%= admin_habitations_path%>">
							
							<span>Habitations</span>
						</a>	
					</li>
					
					<li class="dropdown">					
						<a href="<%= admin_sources_path%>">
							
							<span>Add Water Source</span>
						</a>	
					</li>
					
					
					
						
				</ul>
				<%end%>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
    