<%= stylesheet_link_tag "facebox.css" %>

<%= javascript_include_tag "facebox.js", "jquery.validate.min" %>
<script>
(function() {

  jQuery(function() {
  jQuery('#start_date').datepicker( 
    { altField  : '#start_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'yy-mm-dd',
      altFormat : 'yy-mm-dd' } );
    });


}).call(this);

</script>

<script>
(function() {

  jQuery(function() {
  jQuery('#end_date').datepicker( 
    { altField  : '#end_date',  // selector of the hidden input field you want sent to the server
      dateFormat: 'yy-mm-dd',
      altFormat : 'yy-mm-dd' } );
    });


}).call(this);

</script> 
<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
        <div class="widget stacked ">
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>Laboratory Report</h3>
          </div> <!-- /widget-header -->
          <div class="widget-content">
            <div class="row-fluid">
              <div class="span12">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <%= form_tag laboratory_reports_path ,:method => :get do %>
                  <tr>
                    <td>From Date </td>
                    <td><span class="controls">
                      <%= text_field_tag :start_date,  Date.today %>
                    </span></td>
                    <td>To Date </td>
                    <td><span class="controls">
                      <%= text_field_tag :end_date, Date.today %>
                       </span>
                    </td>
                    <td>Water Source </td>
                    <td><span class="controls">
                      <%= collection_select :source_name, :source_name_eq, SurveyReport.all, :source_name, :source_name ,{:prompt => "Select Source Name"}%>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>Types</td>
                    <td><span class="controls">
                      <%= collection_select :water_source_type, :water_source_type_eq, WaterSourceType.all, :source_type, :source_type, {:prompt => "Select Source Type"} %>
                      </span>
                    </td>
                    <!-- <td>Habitation</td>
                    <td><span class="controls">
                      <%= collection_select :habitation , :habitation_eq, SurveyReport.all, :habitation, :habitation, {:prompt => "Select Habitation"}%>
                      </span>
                    </td> -->
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <%= button_tag  :submit , name: "subaction",value: "update", :class => "btn btn btn-primary" %>
                      <!-- <button class="btn btn btn-primary" type="reset">Show</button> -->
                      <%= link_to "Clear", laboratory_reports_path, :class=>"btn btn btn-primary"%>
                      
                    </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                  </tr>
                 <% end %>
                </table>
              </div>
            </div>
            </br>
            <section id="tables">
              <div class="row-fluid">
                <div class="span6">
                  <h3>LABORATORY REPORT</h3>
                </div>
                <div class="span6" style="text-align:right">
                  <%= link_to image_tag('/assets/excel.png', :border=>"0", :align=>"absmiddle") + " Excel", laboratory_reports_path(params.merge(format: "xls")), :method=> :get, :class=>"btn btn-secondary" %>
                  <%= link_to image_tag('/assets/pdf.png', :border=>"0", :align=>"absmiddle") + " PDF", laboratory_reports_path(params.merge(format: "pdf")), :method=> :get, :class=>"btn btn-secondary" %>
                   
                </div>
              </div>
              
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Sr. No. </th>
                    <th>Source name</th>
                    <th>Source code</th>
                    <th>Source location</th>
                    <th>Water source type</th>
                    <th>Date time</th>
                    <th>Surveyor name</th>
                    <th>Surveyor Remark</th>
                    <th>Source Image</th>
                    <th>Source Location Image</th>
                    <th style="width:20%">Action</th>
                  </tr>
                </thead>
                 <tbody>
                <% @survey_reports.each_with_index.each do |survey_report,i |  %> 
                 
                    <tr id="<%= dom_id(survey_report) %>">
                      <td><%= i+1 %></td>
                      <td><%= survey_report.source_name rescue nil%></td>
                      <td><%= survey_report.water_source_code rescue nil%></td>
                      <td><%= survey_report.source_location rescue nil%></td>
                      <td><%= survey_report.water_source_type rescue nil%></td>
                      <td><%= survey_report.created_at.strftime("%d-%m-%Y %I:%M %p") rescue nil%></td>
                      <td><%= survey_report.surveyor_name rescue nil%></td>
                      <td><%= survey_report.remarks rescue nil%></td>
                      <td><%= image_tag survey_report.image.url, :height=> 100, :width=>100 rescue nil%></td>
                      <td><%= image_tag survey_report.image1.url, :height=> 100, :width=>100 rescue nil%></td>
                      <td><!-- <div style="float:left; margin-right:3px;"><%= link_to "View", laboratory_report_path(survey_report), :class=>"btn" %> </div> -->
                          <% if survey_report.is_tested == 0 %>
                          <div id="action<%= survey_report.id %>" style="float:left;">
                          <%= link_to "Edit Test Result", send_for_testing_laboratory_report_path(survey_report), remote: true, :class=>"btn" %>
                          <% elsif survey_report.is_dist_approved == 1%>
                            <%= "Approved by district manager" %><br/>
                            <%= link_to "Update Testing Report", send_for_testing_laboratory_report_path(survey_report), remote: true, :class=>"btn" %>
                          <%else%>
                           <b> Waiting for Approval</b>
                          </div>
                          <% end %>
                      </td>
                    </tr>
                <% end %> 
                </tbody>
              </table>
              <section id="paginations">
                <div class="digg_pagination">
                  <%= will_paginate @survey_reports %>
                </div>
              </section>
            </section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->
    






