<script>
jQuery(document).ready(function() {
	jQuery("#lab_report").validate({
		errorElement:'div',
		rules: {
			"survey_report[ph]" : { required: true },
			"survey_report[tds]" : { required: true },
			"survey_report[residual_chlorine]" : { required: true },
			"survey_report[fluoride]" : { required: true },
			"survey_report[chloride]" : { required: true },
			"survey_report[nitrate]" : { required: true },
			"survey_report[alkaliniy]" : { required: true },
			"survey_report[total_hardness]" : { required: true }
			},
		messages: {
			  "survey_report[ph]":{ required:  "Please enter ph" },
	      "survey_report[tds]" : { required:  "Please enter TDS" },
  			"survey_report[residual_chlorine]" : { required: "Please enter residual chlorine" },
  			"survey_report[fluoride]" : { required: "Please enter fluoride" },
  			"survey_report[chloride]" : { required: "Please enter chloride" },
  			"survey_report[nitrate]" : { required: "Please enter nitrate" },
  			"survey_report[alkaliniy]" : { required: "Please enter alkaliniy" },
  			"survey_report[total_hardness]" : { required: "Please enter total hardness" }
			},
			submitHandler: function(form) {
          jQuery.ajax({
              url: "<%= submit_test_laboratory_report_path(@survey_report.id) %>",
              type: "POST",
              data: jQuery(form).serialize(),
              success: function(response) {
                           jQuery('#action<%= @survey_report.id %>')
                             .html("Submited")
                           	.hide()
                           	.fadeIn()
                             jQuery(document).trigger('close.facebox');
                       }            
               });
          
       }
       
		});
 });
</script>

      <h4>Test</h4>
          <!-- /widget-header -->
          <div class="widget-content">
            <div class="row-fluid" style="margin-bottom:10px">
              <!-- <div class="span12">
                <a href="/mobile_users" class="btn">Back</a>          
              </div> -->
            </div>
           
            <%= form_for(:survey_report, :url => submit_test_laboratory_report_path(@survey_report.id), :html=>{:id=>"lab_report"}) do |f| %>
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="name">pH</label>
                  <div class="controls">
                    <%= f.text_field :ph %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="name">TDS</label>
                  <div class="controls">
                    <%= f.text_field :tds %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="name">Residual Chlorine</label>
                  <div class="controls">
                    <%= f.text_field :residual_chlorine %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="name">Fluoride</label>
                  <div class="controls">
                    <%= f.text_field :fluoride %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="name">Chloride</label>
                  <div class="controls">
                    <%= f.text_field :chloride %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="name">Nitrate</label>
                  <div class="controls">
                    <%= f.text_field :nitrate %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="name">Alkaliniy</label>
                  <div class="controls">
                    <%= f.text_field :alkaliniy %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="name">Total Hardness</label>
                  <div class="controls">
                    <%= f.text_field :total_hardness %>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="name">Bacteriological Test</label>
                  <div class="controls">
                   PRE MONSOON   <%= f.radio_button :bacteriological, "PRE MONSOON" %>
                   POST MONSOON  <%= f.radio_button :bacteriological, "POST MONSOON" %>
                    <%= f.hidden_field :is_tested, :value=>true %>
                  </div>
                </div>
                
                <div class="control-group">
                  <div class="controls">
                    <%= f.submit "Save", :class=>"btn" %>
                  </div>
                </div>
              </fieldset>
			      <% end %>
			</div> <!-- /widget-content -->
			
			
	