<script>
jQuery(document).ready(function() {
	jQuery("#lab_report").validate({
		errorElement:'div',
		rules: {
			"survey_report[ph]" : { required: true },
			"survey_report[tds]" : { required: true },
			"survey_report[residual_chlorine]" : { required: true },
			"survey_report[fluoride]" : { required: true },
			"survey_report[chloride]" : { required: true },
			"survey_report[nitrate]" : { required: true },
			"survey_report[alkaliniy]" : { required: true },
			"survey_report[total_hardness]" : { required: true }
			},
		messages: {
			  "survey_report[ph]":{ required:  "Please enter ph" },
	      "survey_report[tds]" : { required:  "Please enter TDS" },
  			"survey_report[residual_chlorine]" : { required: "Please enter residual chlorine" },
  			"survey_report[fluoride]" : { required: "Please enter fluoride" },
  			"survey_report[chloride]" : { required: "Please enter chloride" },
  			"survey_report[nitrate]" : { required: "Please enter nitrate" },
  			"survey_report[alkaliniy]" : { required: "Please enter alkaliniy" },
  			"survey_report[total_hardness]" : { required: "Please enter total hardness" }
			},
			submitHandler: function(form) {
          jQuery.ajax({
              url: "<%= submit_update_test_laboratory_report_path(@survey_report.id) %>",
              type: "POST",
              data: jQuery(form).serialize(),
              success: function(response) {
                           jQuery('#action<%= @survey_report.id %>')
                             .html("Submited")
                           	.hide()
                           	.fadeIn()
                             jQuery(document).trigger('close.facebox');
                       }            
               });
          
       }
       
		});
 });
</script>

      <h4>Test</h4>
          <!-- /widget-header -->
          <div class="widget-content">
            <div class="row-fluid" style="margin-bottom:10px">
              <!-- <div class="span12">
                <a href="/mobile_users" class="btn">Back</a>          
              </div> -->
            </div>
           
            <%= form_for(:survey_report, :url => submit_update_test_laboratory_report_path(@survey_report.id), :html=>{:id=>"lab_report"}) do |f| %>
              <table width="750px" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td>pH</td>
                    <td><span class="controls">
                      <%= f.text_field :ph,:placeholder => "pH" %>
                    </span></td>
                    <td>TDS</td>
                    <td><span class="controls">
                      <%= f.text_field :tds ,:placeholder => "TDS"%>
                       </span>
                    </td>
                    
                  </tr>

                  <tr>
                    <td>Residual Chlorine</td>
                    <td><span class="controls">
                      <%= f.text_field :residual_chlorine,:placeholder => "Residual Chlorine" %>
                    </span></td>
                    <td>Fluoride </td>
                    <td><span class="controls">
                      <%= f.text_field :fluoride,:placeholder => "Fluoride" %>
                       </span>
                    </td>
                    
                  </tr>

                  <tr>
                    <td>Chloride</td>
                    <td><span class="controls">
                      <%= f.text_field :chloride , :placeholder => "Chloride" %>
                    </span></td>
                    
                    <td>Nitrate</td>
                    <td><span class="controls">
                      <%= f.text_field :nitrate, :placeholder => "Nitrate"  %>
                       </span>
                    </td>
                    
                  </tr>

                  <tr>
                    <td>Total Hardness</td>
                    <td><span class="controls">
                      <%= f.text_field :total_hardness,:placeholder => "Total Hardness" %>
                    </span></td>

                    <td>Alkaliniy</td>
                    <td><span class="controls">
                      <%= f.text_field :alkaliniy , :placeholder => "Alkaliniy"%>
                       </span>
                    </td>
                    
                    
                  </tr>

                  <tr>
                    <td>Pre Monsoon Reading</td>
                    <td><span class="controls">
                      <%= f.text_field :bacteriological,:placeholder => "Pre Monsoon Reading"%>
                       </span>
                    </td>
                    <td>Post Monsoon Reading</td>
                    <td><span class="controls">
                      <%= f.text_field :postmonsoon,:placeholder => "Post Monsoon Reading" %>
                      <%= f.hidden_field :is_tested, :value=>1 %>
                      <%= f.hidden_field :is_dist_approved, :value => 0%>
                      <%= f.hidden_field :districtname, :value=> current_user.district_name %>
                    </span></td>
                    
                    
                  </tr>
                  
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <%= f.submit "Save", :class=>"btn" %>
                      
                    </td>
                      
                  </tr>
                 
                </table>
			      <% end %>
			</div> <!-- /widget-content -->
			
			
	