<%= form_for(@admin_habitation) do |f| %>
  <% if @admin_habitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_habitation.errors.count, "error") %> prohibited this admin_habitation from being saved:</h2>

      <ul>
      <% @admin_habitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :habitation_name %><br />
    <%= f.text_field :habitation_name %>
  </div>
  <div class="field">
    <%= f.label :village_id %><br />
    <%= f.collection_select :village_id, Admin::Village.all, :id, :village_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
