<%= stylesheet_link_tag "facebox.css" %>

<%= javascript_include_tag "facebox.js", "jquery.validate.min" %>
<div class="main">

  <div class="container">

      <div class="row">
        
        <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>All Mobile Devices</h3>
            </div> <!-- /widget-header -->
        
              <div class="widget-content">
              
                <div class="row-fluid">
                  <div class="span12">
                  
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
              
                      <tr>
                        <td>&nbsp;</td>
                        <td>
                          <%#= link_to "Back", root_path, :class => "btn"%>
                          <%= link_to "Add mobile device", new_mobile_device_path, :class=>"btn", :type=>"reset"%>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                  </div>
                </div>
                </br>
                <section id="tables">
                  
                    <table class="table table-bordered table-striped">
                      
                              <thead>
                                <tr>
                                  <th>Sr. No. </th>
                                  <th>IMEI</th>
                                  <th>Manufacturer Name</th>
                                  <th>Phone Number</th>
                                  <th>Purchase Date</th>
                                  <th>Status</th>
                                  <th>Remarks</th>
                                  <th>Action</th>
                                  <% if current_user.has_role? :admin %>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                  <% end %>
                                </tr>
                              </thead>
                            <% @mobile_devices.each.with_index(1).each do |mobile_device,index |  %> 
                              <tbody>
                                <tr id="<%= dom_id(mobile_device) %>">
                                  <td><%= index %></td>
                                  <td><%= mobile_device.imei rescue nil%></td>
                                  <td><%= mobile_device.manufacturer_name rescue nil%></td>
                                  <td><%= mobile_device.phone_no rescue nil%></td>
                                  <td><%= mobile_device.purchase_date rescue nil%></td>
                                  <td><% if mobile_device.status == 0 %>
                                         <%= "Mobile Deactivate"%>
                                      <%elsif mobile_device.status == 1%>
                                        <%= "Activate"%>
                                      <%else  mobile_device.status == 2%>
                                        <%= "Deactivate"%>
                                      <%end%>
                                  </td>

                                  <td><%= mobile_device.remarks_for_deactivate[0..5] rescue nil%></td>
                                  <td>
                                    <%if mobile_device.status == 0%>
                                    <%= link_to "Activate",activate_mobile_mobile_device_path(mobile_device),:class => "btn"%> <%= link_to "Deactivate",deactivate_mobile_mobile_device_path(mobile_device), :remote => true,:class => "btn"%>
                                    <%elsif mobile_device.status == 1%>
                                      <%= link_to "Deactivate",deactivate_mobile_mobile_device_path(mobile_device),:remote => true,:class => "btn"%>
                                      
                                    <%else%>
                                      <%= link_to "Activate",activate_mobile_mobile_device_path(mobile_device),:class => "btn"%>
                                    <%end%>
                                    </td>

                                  <% if current_user.has_role? :admin %>
                                    <td><%= link_to "Edit", edit_mobile_device_path(mobile_device),:class => "btn" %></td>
                                    <td><%= link_to "Delete", mobile_device, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn" %></td>
                                  <% end %>
                                </tr>
                              </tbody>
                      <% end %> 
                    </table>
                         
                          
                         
                  <!-- <section id="paginations">
                    
                    
                    <div class="pagination">
                      <ul>
                        <li><a href="javascript:;">Prev</a></li>
                        <li class="active">
                          <a href="javascript:;">1</a>
                        </li>
                        <li><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;">4</a></li>
                        <li><a href="javascript:;">Next</a></li>
                      </ul>
                    </div>
                            
                  </section> -->
                </section>
              </div> <!-- /widget-content -->
          </div> <!-- /widget -->
        </div>
      </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->
    





