<div class="main">
  <div class="container">
    <div class="row">
      <div class="span12">          
          
        <div class="widget stacked ">
              
          <div class="widget-header">
            <i class="icon-pencil"></i>
            <h3>All Managers</h3>
          </div> <!-- /widget-header -->
          
          <div class="widget-content">
        
            <div class="row-fluid">
            
                <div class="span12">
                
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
            
                    <tr>
                      <td>&nbsp;</td>
                      <% if current_user.has_role? :admin %>
                      <td>
                        <%#= link_to "Back", admin_root_path, :class => "btn"%>
                        <%= link_to "New User", new_admin_user_path, :class=>"btn", :type=>"reset"%>
                      </td>
                      <%end%>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                </div>
            </div>
            </br>
        
        
            <section id="tables">
              
              
                <table class="table table-bordered table-striped">
                  
                          <thead>
                            <tr>
                              <th>Sr. No. </th>
                              <th>User Name</th>
                              <th>User Role</th>
                              <th>User Area</th>
                              <% if current_user.has_role? :admin %>
                                <th>Edit User</th>
                                <th>Delete User</th>
                              <% end %>
                            </tr>
                          </thead>
                        <% @users.each_with_index.each do |user,i |  %> 
                          <tbody>
                            <tr>
                              <td><%= i+1 %></td>
                              <td><%= user.username rescue nil%></td>
                              <td><%= user.roles.map { |e| e.display_name  } rescue nil%></td>
                              <%unless user.zone_name.blank?%>
                                <td>Zone :<%= user.zone_name rescue nil%></td>
                              <%end%>
                              <%unless user.district_name.blank?%>
                                <td>District :<%= user.district_name rescue nil%></td>
                              <%end%>
                              <%unless user.block_name.blank?%>
                                <td>Block :<%= user.block_name rescue nil%></td>
                              <%end%>
                              <% if current_user.has_role? :admin %>
                                <td><%= link_to "Edit", edit_admin_user_path(user),:class => "btn" %></td>
                                <td><%= link_to "Delete", admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' },:class => "btn" %></td>
                              <% end %>
                            </tr>
                          </tbody>
                  <% end %> 
                </table>
                     
              <!-- <section id="paginations">
                <div class="pagination">
                  <ul>
                    <li><a href="javascript:;">Prev</a></li>
                    <li class="active">
                      <a href="javascript:;">1</a>
                    </li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">Next</a></li>
                  </ul>
                </div>
              </section> -->
            </section>
          </div> <!-- /widget-content -->
        </div> <!-- /widget -->
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /main -->
    

