<!DOCTYPE html>
<html>
<head>
  <title>Ccdu</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application" %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
  <%= csrf_meta_tags %>
  <%= yield :scripts %>
</head>
<body>
<p class="notice"><%= alert %></p>
	    <div>
	            <% if user_signed_in? %> 
					<%= link_to "Sign Out", destroy_user_session_path,:method => :delete %> 
				<% else %> 
					
				<% end %>
		</div>

<%= yield %>

</body>
</html>
