<%= form_for(@parameter) do |f| %>
  <% if @parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
      <% @parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ph %><br />
    <%= f.text_field :ph %>
  </div>
  <div class="field">
    <%= f.label :hardness %><br />
    <%= f.text_field :hardness %>
  </div>
  <div class="field">
    <%= f.label :alkalinity %><br />
    <%= f.text_field :alkalinity %>
  </div>
  <div class="field">
    <%= f.label :chloride %><br />
    <%= f.text_field :chloride %>
  </div>
  <div class="field">
    <%= f.label :nitrate %><br />
    <%= f.text_field :nitrate %>
  </div>
  <div class="field">
    <%= f.label :fluroide %><br />
    <%= f.text_field :fluroide %>
  </div>
  <div class="field">
    <%= f.label :residual_chlorine %><br />
    <%= f.text_field :residual_chlorine %>
  </div>
  <div class="field">
    <%= f.label :tds %><br />
    <%= f.text_field :tds %>
  </div>
  <div class="field">
    <%= f.label :bact %><br />
    <%= f.text_field :bact %>
  </div>
  <div class="field">
    <%= f.label :sanitary_survey %><br />
    <%= f.text_field :sanitary_survey %>
  </div>
  <div class="field">
    <%= f.label :no_of_chemical_sample %><br />
    <%= f.text_field :no_of_chemical_sample %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
